*{
    margin: 0;
    padding: 0;
}
body{
    color: #000;
    font-family: sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition:  all 0.25s;
  }
  .sidebar_header{
    width: 100%;
    margin-bottom: 16px;
  }
  .logo-img{
    margin-left: 5px;
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  .sidebar .button{
    background-color: transparent;
    height: 60px;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
  }
  .sidebar .button>span{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    height: 40px;
    padding: 0 16px 0 12px;
    border-radius: 28px;
    line-height: 1;
  }
  .sidebar .button:hover >span{
    background-color: rgba(180, 180, 180, 0.08);
  }
  .sidebar .button img{
    position: relative;
    font-size: 28px;
    transition: 0.5s;
  }
  .sidebar >nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main{
    margin-left: 260px;
    margin-right: 30px;
    margin-top: 70px;
  }
  @media (width<920px ) {
    .sidebar{
        width: 70px;
    }
    .sidebar .button>span{
        width: 54px;
    }
    .sidebar .button>span>span{
        opacity: 0;
        visibility: hidden;
    }
    main{
        margin-left: 95px;
        transition: margin 0.4s;
    }
  }
  /*----------MENU MOBILE--------------------*/
  .btn_mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: transparent;
    color: #181818;
    border: none;
    font-size: 1.8rem;
}
.menu_mobile{
    display: none;
}
.menu_mobile-active{
    height: 100vh;
    width: 100vw;
    background-color: rgba(226, 226, 226, 0.726);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.menu_mobile-active .button{
    background-color: transparent;
    border: none;
    color: #000;
    margin-bottom: 16px;
    text-decoration: none;
}
.menu_mobile-active .button>span{
    display: inline-flex;
    align-items: center;
}
.mobile-text{
    font-size: 1.2rem;
    margin-left: 8px;
}
@media (max-width:480px) {
    .sidebar{
        display: none;
    }
    .btn_mobile{
        display: flex;
    }
    main{
        margin-left: 6px;
    }
}
.btn-close{
    font-size: 2rem;
    color: #000;
}
.mobileBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #7d52b6;
    border-bottom: 1px solid #2f3336;
}
/*-------------------------------------------*/
.dialog-search{
    position: absolute;
    width: 96%;
    max-width: 650px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    overflow: hidden;
    top: 25%;
    left: 100%;
    max-height: 0;
    transition: max-height 0.3s;
}
.dialog-search-show{
    max-height: 600px;
    width: 300px;
}
/*dialog-search-show{
    max-height: 450px;
}*/
.logout{
    clear: both;
}