.container{
    background-color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 540px;
    border: 1px solid red; 
    padding: 15px;

}
.mais{
    display: none;
}
.input-field{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}