 /*-----------nada haver tbem------------*/
 .user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 55%;
    margin-right: 7px;
}
.post-container,.friend-container{
    background-color: #ffffff;
    padding: 10px 0;
    /*border-radius: 10px;*/
    color: #181818;
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    max-width: 385px;
    /*border: 1px solid #ccc;*/
}
.post-container{
    margin-top: 18px;
    border-bottom: 1px solid #ccc;
}
.user-profile p{
    margin-bottom: -5px;
}
.user-profile small{
    font-size: 0.68rem;
}
.post-img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 6px;
}
.post-text{
    margin-bottom: 10px;
}
.post-row,.friend-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-right{
text-decoration: none;
color: #0f0f0f;
font-size: 1rem;
font-weight: 600;
}
.btn-right:hover
{
    background-color: #c3c3c3;
    border-radius: 50%;
    padding: 4px 11px;
}

.friend-row {
    margin-bottom: 16px;
    padding: 10px 0;
}
.link-seguir{
    padding: 0px 10px;
}

/*----------------------------------*/
.friend-search{
    margin-bottom: 25px;
    
}
/*!----------------------------------------*/
.write-post-container{
    width: 100%;
    border-radius: 6px;
    padding: 20px;
}
.write-post-container .user-profile{
    display: flex;
    align-items: center;
}
.write-post-container .user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.write-post-container .post-input-container{
    padding-left: 50px;
    padding-top: 20px;
}
.write-post-container .post-input-container textarea{
    border-radius: 20px;
    width: 100%;
    outline: 0;
    resize: none;
    padding-top: 10px;
    padding-left: 6px;
    background-color: transparent;
}
.write-post{

    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #181818;
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    max-width: 450px;
    border: 1px solid #ccc;

}
.actividades-icon{
    display: flex;
    flex-direction: row;
}
.btn{
    border: none;
    background-color: transparent;
}
.btn-gosto{
    background-image: url('../icons/lik.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
}
.btn-comentario{
    background-image: url('../icons/cc.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 28px;
    display: inline-block;
    text-indent: -9999px;

    margin-left: 20px;
}
.btn-comentario:hover{
    background-image: url('../icons/houve.png');
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}
.btn-gosto:hover{
    background-image: url('../icons/houver01.png');
    cursor: pointer;
    transition: all 0.5s;
}
.btn-liked{
    background-image: url('../icons/houver01.png');
    cursor: pointer;
}
.post-video{
    width: 100%;
    border: none;
 
}
.btn-right1{
    text-decoration: none;
    color: #0f0f0f;
    font-size: 0.89rem;
    }
.btn-right1:hover{
    color: #6b6b6b;
    cursor: pointer;
}
@media (max-width:480px) {
    .perfil-row{
        display: flex;
        flex-direction: column;
    }
    .wrap-btn01{
        margin-top: 15px;
    }
}

/**-----------------------------------------*/
.comments-box{
    border: none;
}
.comentarios .user-profile img{
    width: 35px;
    border-radius: 55%;
    margin-right: 5px;
}
.comentarios{
    padding: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}
.comentarios .user-profile p{
    font-size: 0.88rem;
}
/*-----------------------------------*/