@model HastagMusic.Models.Users
@{
    ViewData["Title"] = "Sign in";
    Layout = "_LayoutLogin";
}
<div class="form-group">
    <h3>Iniciar Sessão</h3>

    <form method="post">
        <small>@ViewBag.erro</small>
        <div class="input-field">
            <label for="username">Nome usuario</label>
            <input asp-for="UserName" id="username" placeholder="Username or email">
        </div>

        <div class="input-field">
            <label for="Senha">Senha</label>
            <input asp-for="Senha" id="senha" placeholder="Password" maxlength="8" minlength="4">
        </div>

        <input type="submit" value="Entrar" class="button res">

    </form>
    <p>Criar uma <a asp-action="SignUp">Conta</a></p>
</div>