@model HastagMusic.Models.PostViewModel
@{
    ViewData["title"] = "Publicação";
}
<div class="write-post">
<div class="write-post-container">
    <div class="user-profile">
        <img src="~/icons/perfil.jpg" alt="">
        <div class="user-profile-text">
            <p>@ViewBag.UserName</p>
        </div>
    </div>
    <form asp-action="post" asp-controller="home" method="post" enctype="multipart/form-data">
        <div class="post-input-container">
            <textarea placeholder=" @ViewBag.UserName no que estás a pensar ?"   rows="3" asp-for="Content"></textarea>
            <div class="post add-files">
                    <label asp-for="File">Arquivo:</label>
                    <input asp-for="File" type="file" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                  <label>Tipo de arquivo:</label><br />
                    <input type="radio" asp-for="Tipo" value="Image"/> Imagem
                    <input type="radio" asp-for="Tipo" value="Video"/> Vídeo
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                <button type="submit">Postar</button>
            </div>
        </div>
    </form>
</div>
</div>